
 
<mat-toolbar>
    ELearn Appication  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

    <span>My First App</span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>
    <button mat-button>About</button>
    <button mat-button>Contact</button>
    <button mat-icon-button >
  <mat-icon>more_vert</mat-icon>
</button>

     <button mat-button class="menu-button"  routerLink="/new" > Login</button>     

     
     <li class="nav-item">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="~/images/image1.jpg" class="rounded" height="30" width="30" />
        </a>
        <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" asp-controller="User" asp-action="Logout">Logout</a>
        </div>
    </li>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
       <button mat-button class="menu-button">
           <mat-icon>home</mat-icon>
           <span>Home</span>
       </button>
       <button mat-button class="menu-button">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
    </button>
    <button mat-button class="menu-button">
        <mat-icon></mat-icon>
        <span>Courses</span>
    </button>
    <button mat-button class="menu-button" routerLink="/staff">
        <mat-icon></mat-icon>
        <span>Request Staff</span>
    </button>
    <button mat-button class="menu-button">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>
    <button mat-button class="menu-button">
        <mat-icon>info</mat-icon>
        <span>About us</span>
    </button>
    <button mat-button class="menu-button">
        <mat-icon>help</mat-icon>
        <span>Contact us</span>
    </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation z4">
            <router-outlet> </router-outlet> 
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
