
 <router-outlet> </router-outlet> 

<div>
    <h1>Register</h1><br>
    <form #RegisterAngularForm="ngForm" (ngSubmit)="post_apii(RegisterAngularForm.value)">
        <label for="Username">Username</label><br>
        <input type="text" id="Username" name="UserName" [(ngModel)]="user.username"><br>
        <label for="Password">Password</label><br>
        <input type="text" id="Password" name="Password" [(ngModel)]="user.password"><br>
        <label for="Email">Email</label><br>
        <input type="text" id="Email" name="Email" [(ngModel)]="user.email"><br>
        <label for="FirstName">FirstName</label><br>
        <input type="text" id="FirstName" name="FirstName" [(ngModel)]="user.firstName"><br>
        <label for="LastName">LastName</label><br>
        <input type="text" id="LastName" name="LastName" [(ngModel)]="user.lastName"><br>
        <label for="Role"> Role</label><br>
        <input type="text" id="Role" name="Role" [(ngModel)]="user.role"><br>
        <label for="Phone">Phone</label><br>
        <input type="text" id="Phone" name="Phone" [(ngModel)]="user.phone"><br>
        <label for="UserImage">UserImage</label><br>
        <input type="text" id="UserImage" name="UserImage" [(ngModel)]="user.userImage"><br>
        
        <input type="submit" value="submit">
    </form>
</div>
